.form-denotation{
  margin-top: 10px;
  font-size: 40px;
  letter-spacing: 1px;
}
.form-sen{
  margin-top: 50px;
  line-height: 30px;
  width: 100%;
  color: #807d9f;
  /* border: 1px solid #000000;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 5px 5px 5px #b9b9b9; */
}
.form-side{
  margin-top: 5%;
}

.form-main{
  height: 630px;
  border-left: 2px solid #000000;
  margin-top: 2%;
  margin-bottom: 5%;
  line-height: 2em;
  padding-left: 50px;
}

.form-p{
  padding-left: 24%;
  margin-bottom: 0px;
  color: #ff8819;
  font-weight: normal;
}

div[class*="form-label"]{
  font-size: 18px;
  margin-bottom: 20px;
}

div[class*="form-label"] label{
  width: 20%;
  text-align: right;
  margin-right: 30px;
}

div[class*="form-label"] input{
  margin: 0px 30px 0px 0px;
  padding: 5px 0px;
}

#request-identity-id label{
  text-align: left;
  margin-left: -30px;
  margin-bottom: -20px;
}
#request-identity-id input{
  margin-top: 0px;
  margin-bottom: -20px;
}
#request-message-id{
  margin-top: 5px;
  width: 75%;
  height: 130px;
}

.form-submit{
  text-align: right;
  margin-top: 5px;
}
#submit-button{
  background-color: #fb9352;
  width: 15%;
}

.form-submit input{
  padding: 3px;
}

.focusing{
  background-color: #fff4ed;
}


@media screen and (max-width:600px){
  .form-main{
    border-left: 0px solid #000000;
    padding-left: 0px;
  }
  div[class*="form-label"]{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .form-p{
    padding-left: 0%;
  }
}

/* tablet */
@media screen and (min-width:600px) and (max-width:1000px){
  form{
    margin-top: 40px;
  }
  #submit-button{
    font-size: 18px;
  }
  #request-message-id{
    height: 200px;
  }
}
