/* circle */
.head-circle,.foot-circle{
  filter: blur(20px);
  z-index: 0;
}
.head-circle{
  width: 600px;
  height: 650px;
  border-radius: 50%;
  position: absolute;
  top: -470px;
  left:2%;
}
.foot-circle{
  margin-top: -50%;
  padding: 10% 0% 0% 10%;
  height: 200px;
  border-radius: 100% 100% 30% 50%;
}

/*  page title */
.head-page, .foot-page{
  z-index: 1;
  font-size: 40px;
  color: #ffffff;
  font-family: 'EB Garamond','georgia',serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: -1px -2px #666666;
}
.head-page::first-letter, .foot-page::first-letter{
  font-size: 70px;
}
.head-page{
  position: absolute;
  width: 400px;
  margin-top: 20px;
  left:300px;
}
.foot-page{
  position: relative;
  bottom: -80px;
}
.head-frame, .head-navigation{
  width:50%;
  margin-left: auto;
  margin-right: 0%;
  text-align: right;
}

/* name */
.head-myname,.foot-myname{
  font-family: 'EB Garamond','georgia',serif;
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: #000000;
  line-height: 0.8em;
}
.head-myname{
  text-align: right;
  margin-bottom: -5px;
}

/* identity */
.head-myidentity,.foot-myidentity{
  color:#5e5e5e;
  font-size: 18px;
  font-weight:400;
  margin-top: 15px;
  line-height: 1em;
}
.head-myidentity{
  text-align: right;
}
.head-frame{
  margin-top: 4%;
}

/* foot name id */
.foot-myname,.foot-myidentity{
  text-align: left;
  color: #fff;
}

/* navigation */
.head-navigation{
  margin-top: 0px;
}
.head-navigation-ul,.foot-navigation-ul{
  margin-top: 0px;
  padding: 2px 0px;
}
.head-navigation-ul{
  border-top: 1px solid  #96884c;
  border-bottom: 2px solid  #96884c;
}
.foot-navigation-ul{
  border-top: 1px solid  #7e5306;
  border-bottom: 2px solid  #7e5306;
}
.head-navigation li,.foot-navigation li{
  font-size: 13px;
  font-weight: 400;
  display: inline;
  align-items: baseline;
 }
.head-navigation li{
 margin-left: 25px;
}
.foot-navigation{
  margin-top: 40px;
}
.foot-navigation li{
  text-align: left;
  margin-right: 25px;
  color: #fff;
}

/* totop icon */
#totop-icon{
  width: 45px;
  height: 45px;
  padding-left: 12.5%;
  margin-bottom: 10px;
}
#totop-icon:hover{
 transform-origin: center;
 transform: scale(1.05);
}

/* foot */
.footbox-all{
  width:75%;
  margin-left: auto;
  margin-right: auto;
  background-color: #bbbbbb;
  /* background: linear-gradient(#ffffff,#c1c1c1); */
  padding: 0% 12.5%;
}
.footbox{
  width:55%;
  margin-right: 15%;
  padding-bottom: 2%;
}
.foot-circle{
  opacity: 0.6;
}
.foot-logo{
  width: 25%;
}
.foot-info, div[class*="navigation"] {
 font-size: 16px;
 font-weight:300;
 line-height: 1.5em;
 }
.foot-info{
  color: #fff;
}

@media screen and (max-width:600px){
  .head-circle{
    width: 500px;
    height: 450px;
    left:-40%;
    top: -300px;
  }
  .head-page{
    top:-5px;
  }
  .head-myname{
    padding-top: 150px;
  }
  .head-page{
    left:30px;
  }
  .head-frame, .head-navigation{
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }

  .footbox-all{
    width:80%;
    padding: 0% 10%;
  }
  .footbox{
    width:100%;
    margin-right: 0%;
    margin-left: 0;
    padding: 0%;
  }
  .foot-logo{
    margin-top: -120px;
  }
  .foot-circle{
    height: 150px;
    margin-top: -10%;
  }
  .foot-page{
    bottom: -100px;
    font-size: 30px;
  }
  #totop-icon{
    padding-left: 2%;
  }
}


/* tablets */
  @media screen and (min-width:600px) and (max-width:900px){
    .head-circle{
      width: 500px;
      height: 450px;
      left:-18%;
      top: -300px;
    }
    .head-page{
      top:-5px;
      left: 8%;
    }
    .footbox-all{
      width:85%;
      padding: 0% 7.5%;
    }
    .foot-page{
      font-size: 30px;
    }
    #totop-icon{
      padding-left: 7.5%;
    }
  }
