.banner-all{
  width: 100%;
}

#banner-container,.banner-img{
  width:100%;
  height: 450px;
  margin-left: 0;
}
#banner-container{
  margin: 0;
  left: 0;
  overflow: hidden;
  position: relative;
}
.banner-img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}
#banner-img4{
  background-image: url("../image/homepage/banner4.jpg");
}
#banner-img3{
  background-image: url("../image/homepage/banner3.jpg");
}
#banner-img2{
  background-image: url("../image/homepage/banner2.jpg");
}
#banner-img1{
  background-image: url("../image/homepage/banner1.png");
}
.banner-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background-size:100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  opacity: 0.7;
  cursor: pointer;
  top:200px;
  box-shadow: 0px 0px 15px #817eff;
  mix-blend-mode: hard-light;
}
.banner-icon:hover{
  opacity: 0.9;
}
#banner-icon-left{
  left: 3%;
  background-image:url("../image/homepage/banner-icon-left.png");
}
#banner-icon-right{
  right: 3%;
  background-image:url("../image/homepage/banner-icon-right.png");
}

.banner-frame {
  width: 100%;
  position: absolute;
  z-index: 50;
}
.banner-frame p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background: linear-gradient(to right, rgb(0,0,0,0) 20%,rgb(75, 45, 75, 0.2) 50%,rgb(0,0,0,0) 80%);
  padding: 0.2% 0;
}
#banner-myname{
  margin: 170px auto 1% auto;
  font-family: 'EB Garamond','georgia',serif;
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 2px;
  color:rgb(255, 255, 255);
}
.banner-name-animation{
  animation-name: slidein-left;
  animation-duration: 1.5s;
}
@keyframes slidein-left{
  0% {margin-left: 0%;opacity: 0%;}
  20% {margin-left: 0%;opacity: 100%;}
  90% {margin-left:36%;}
  100% {margin-left:35%;}
}
#banner-underline{
  background:linear-gradient(to right, rgb(0, 0, 0,0) 20%,#ffd26e 70%,rgb(0, 0, 0,0) 90%);
  width: 20%;
  height:3px;
  margin: -2.1% auto 0px auto;
}
.banner-dash-animation{
  animation-name: slidein-right;
  animation-duration: 1.5s;
}
@keyframes slidein-right{
  0% {margin-right: 0%;opacity: 0%;}
  20% {margin-right: 0%;opacity: 100%;}
  90% {margin-right:41%;}
  100% {margin-right:40%;}
}
#banner-myidentity{
  font-size: 18px;
  font-weight:400;
  color: #d7d7d7;
  z-index: 20;
  opacity: 0;
}
.banner-circle-container{
  position: absolute;
  top: 400px;
  left:47%;
  z-index: 60;
  display: inline-block;
}
.banner-circle-individual{
  background: #ffffff;
  border: 1px solid #aaaaaa;
  width:6px;
  height:6px;
  margin: 0px 5px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  z-index: 60;
}

/* navigation bar */
.banner-navigation{
  position: absolute;
  top:10px;
  right: 50px;
  z-index: 50;
}
.banner-navigation-ul li{
  font-size: 14px;
  font-weight: 400;
  display: inline;
  margin-left: 25px;
  color: #ffffff;
}
.banner-frame{
  padding-bottom:20%;
}
#rowimage{
  width: 1250px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

/* paragraphs */
.para-1,.para-2{
  width: 70%;
  margin: 5% auto 3% auto;
  line-height: 30px;
}
#timeGreeting,#welcome,#conclusion,#freecontact,.para-2 p{
  text-align: center;
}
#timeGreeting{
  margin: 0% auto 1% auto;
  font-size: 25px;
  font-weight: normal;
}
#welcome,#freecontact{
  margin: 0% auto 3% auto;
  font-size: 30px;
  font-weight: normal;
}
.para-1 p,.para-2 p{
  margin: 15px auto 15px auto;
}

/* icon */
.icon-all{
  margin: 2% auto 7% auto;
  width: 60%;
}
div[class*="icon-4col"]{
  width: 25%;
}
div[class*="icon-4col"] img{
  width: 40%;
  margin-left: 25%;
  margin-bottom: 1%;
  border-radius: 50%;
  padding: 5%;
  box-shadow:0px 0px 6px #82ccff;
}
div[class*="icon-4col"] p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1%;
}
.as-emphasis{
  font-weight: bold;
}

/* img+text section */
div[class*="cross-all"]{
  margin-bottom:10%;
}
div[class*="block-img"]{
  width:60%;
}
div[class*="block-textframe"]{
  width:35%;
  /* border: 1px solid #000000; */
}
div[class*="block-textframe-right"]{
  margin-left: 5%;
}
div[class*="block-textframe-left"]{
  margin-right: 5%;
}
div[class*="block-img"] img{
  width:100%;
  /* height: 100%; */
  background-size:cover;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #a6a6a6;
}
div[class*="block-textonly"] h3{
  font-size: 30px;
  margin: 8% 0%;
}
div[class*="block-textonly"] p{
  line-height: 25px;
}
p[class*="block-link"]{
  color: #ffffff;
  font-weight: normal;
  background: #d6b172;
  border-radius: 20px;
  text-align: center;
  padding: 7px 0px;
  width: 30%;
  margin-top: 10%;
}
em{
  background-color: #f5e7aa;
  height: 5px;
  font-style: normal;
  font-weight: normal;
}
#contact-button{
  color: #ffffff;
  background: #fb9352;
  width: 25%;
  margin-top: 3%;
  font-size: 25px;
}

#banner-navigation-submain{
  display: inline;
}
#banner-navigation-worksub{
  position: absolute;
  top:50px;
  right: 110px;
}
#banner-navigation-worksub a{
  display: block;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  padding-right: 10px;
  text-align: left;
  margin: -1px 0px;
}

/* phone */
  @media screen and (max-width:600px){
    #banner-container,.banner-img{
      height: 300px;
    }
    .banner-icon{
      width: 20px;
      height: 20px;
      top:160px;
    }
    .banner-frame p{
      width: 80%;
    }
    #banner-myname{
      margin-top:110px;
      font-size: 30px;
    }
    .banner-icon{
      top:130px;
    }
    #banner-underline{
      margin: -2.4% auto 0px auto;
    }
    #banner-myidentity{
      font-size: 16px;
      margin-top: 6PX;
    }
    .para-1,.para-2{
      width: 95%;
    }
    #timeGreeting{
      font-size: 20px;
    }
    #welcome,#freecontact{
      font-size: 24px;
    }
    .icon-all{
      width: 80%;
    }
    div[class*="icon-4col"] p{
      font-size: 14px;
    }
    div[class*="cross-all"]{
      margin-bottom:15%;
    }
    div[class*="block-img"],div[class*="block-textframe"]{
      width:95%;
      margin-left: auto;
      margin-right: auto;
    }
    div[class*="block-img"]{
      margin-bottom: 20px;
    }
    /* .ux-block-img,.video-block-img{
      position: relative;
      top:-270px;
    }
    .ux-block-textframe-left,.video-block-textframe-left{
      position: relative;
      top: 270px;
    } */
    div[class*="block-textframe"]{
      margin-bottom: 15px;
    }
    div[class*="block-textframe"]{
      margin-top: -10px;
    }
    div[class*="block-textonly"] h3{
      font-size: 20px;
      margin:3% 0% 3% 0%;
    }
    p[class*="block-link"]{
      margin-top: 5%;
      width: 30%;
      padding: 2px 0px;
    }
    #contact-button{
      padding: 2px 0px;
      font-size: 20px;
      width: 35%;
    }
  }

  @media screen and (min-width:600px) and (max-width:1000px){
    #banner-myname{
      margin-top:170px;
      font-size: 35px;
    }
    .para-1,.para-2{
      width: 80%;
    }
    .icon-all{
      width: 80%;
    }
    div[class*="block-textonly"] h3{
      font-size: 22px;
      margin-top: 5px;
    }
    p[class*="block-link"]{
      margin-top: 5%;
      width: 40%;
      padding: 2px 0px;
    }
    #contact-button{
      padding: 4px 0px;
      font-size: 24px;
      width: 30%;
    }
  }
