html{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  width: 100%;
  scroll-behavior: smooth;
}
.my75,header,.about-body{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

a:hover{
 font-weight: bold;
}

a[class*="link"]{
 font-style: italic;
 text-decoration:underline;
}
p[id*="button"],input[id*="button"]{
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  padding: 7px 0px;
  border: 0px;
}
div[class*="all"],section[class*="all"]{
  display: flex;
  flex-direction: row;
}
main{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
img:not(#totop-icon) {
  pointer-events: none;
}
p{
  font-weight: lighter;
}
abbr{
  color: #ff8104;
  padding-right: 2px;
}
.hidden{
  display: none;
}
