html{
  font-family: sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}

#myName{
  width: 300px;
  margin: -40px 0px 0px 0px;
  text-align: left;
}
#tag{
  width: 100px;
  font-size: 12px;
  margin-left: 5px;
  padding-bottom: 15px;
  text-align: left;
}
/*
#navigation{
  width: 570px;
  background-color: #000000;
  border-bottom: 1px solid #000000;
  margin: auto;
  padding: 8px;
  text-align: center;
}

li{
  display: inline;
  margin: 0px 30px;
  color: rgb(255,255,255);
}*/

#navigation {
 width: 600px;
 padding: 6px;
 margin: 40px 0px 0px auto;
 border-top: 2px solid #000;
 border-bottom: 1px solid #000;
 text-align: right;
}

 li {
 font-size: 12px;
 display: inline;
 margin-left: 25px;
 color: #943f1f;
}

#rowimage{
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
